<%= form_with(model:@code, scope: :affiliate_discount_code, url: admin_affiliate_discount_codes_path, local: true) do |form| %>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :code %>
    </div>
    <div class="field-unit__field">
      <%= form.text_field :code, required: true %>
      <% if @code.errors[:code][0] %>
      <div style="color: red">Code <%= @code.errors[:code][0] %> </div>
      <% end %>
    </div>
  </div>
<!--
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :club %>
    </div>
    <div class="field-unit__field">
      <select name="club_id">
        <% @clubs.each do |club| %>
          <option value="<%= club.id %>"><%= club.name %></option>
        <% end %>
      </select>

      <% if @code.errors[:club][0] %>
      <div style="color: red">Code <%= @code.errors[:club][0] %> </div>
      <% end %>
    </div>
  </div>-->

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :club %>
    </div>
    <div class="field-unit__field">
      <%= form.select :club_id, options_for_select(@clubs.map{|s|[s.name, s.id]}) %>
    </div>
  </div>


  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :contact_name %>
    </div>
    <div class="field-unit__field">
      <%= form.text_field :contact_name %>
      <% if @code.errors[:contact_name][0] %>
      <div style="color: red"><%= @code.errors[:contact_name][0] %> </div>
      <% end %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :contact_email %>
    </div>
    <div class="field-unit__field">
      <%= form.text_field :contact_email, type: "email" %>
      <% if @code.errors[:contact_email][0] %>
      <div style="color: red"><%= @code.errors[:contact_email][0] %> </div>
      <% end %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :payment_info %>
    </div>
    <div class="field-unit__field">
      <%= form.text_field :payment_info %>
      <% if @code.errors[:payment_info][0] %>
      <div style="color: red"><%= @code.errors[:payment_info][0] %> </div>
      <% end %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :affiliation_rate %>
    </div>
    <div class="field-unit__field">
      <%= form.text_field :affiliation_rate %>
      <% if @code.errors[:affiliation_rate][0] %>
      <div style="color: red"><%= @code.errors[:affiliation_rate][0] %> </div>
      <% end %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :discount_type %>
    </div>
    <div class="field-unit__field">
      <div style="min-width: 160px; float: left;"><%= form.radio_button :discount_type, "amount", checked: (@code.discount_type != "percent") %> $ Amount</div>
      <div style="min-width: 160px; float: left;"><%= form.radio_button :discount_type, "percent", checked: (@code.discount_type == "percent") %> % Percent</div>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :discount %>
    </div>
    <div class="field-unit__field">
      <%= form.text_field :discount %>
      <% if @code.errors[:discount][0] %>
      <div style="color: red"><%= @code.errors[:discount][0] %> </div>
      <% end %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :max_users %>
    </div>
    <div class="field-unit__field">
      <%= form.text_field :max_users %>
      <% if @code.errors[:max_users][0] %>
      <div style="color: red"><%= @code.errors[:max_users][0] %> </div>
      <% end %>
    </div>
  </div> 
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :start_date %>
    </div>
    <div class="field-unit__field">
      <%= form.text_field :start_date, type: "date" %>
      <% if @code.errors[:start_date][0] %>
      <div style="color: red"><%= @code.errors[:start_date][0] %> </div>
      <% end %>
    </div>
  </div> 
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= form.label :end_date %>
    </div>
    <div class="field-unit__field">
      <%= form.text_field :end_date, type: "date" %>
      <% if @code.errors[:end_date][0] %>
      <div style="color: red"><%= @code.errors[:end_date][0] %> </div>
      <% end %>
    </div>
  </div> 
  <div class="field-unit field-unit--string">
    <label class="field-unit__label"></label>
    <div class="field-unit__field"><%= form.submit %></div>
  </div>
<% end %>