<header class="main-content__header">
  <h1 class="main-content__page-title">Affiliate/Discount Code <%= @code[:code] %> details</h1>
  <%= link_to "Edit code", "/admin/affiliate_discount_codes/#{@code[:id]}/edit", class: "button" %>
</header>

<section class="main-content__body">
  <div class="attribute-container">
    <div class="attribute-label">Code:</div>
    <div class="attribute-data"><%= @code[:code] %></div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Club:</div>
    <div class="attribute-data"><%= @code.club ? @code.club[:name] : "-" %></div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Team:</div>
    <div class="attribute-data"><%= @code.team ? @code.team[:name] : "-" %></div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Contact Name:</div>
    <div class="attribute-data"><%= @code[:contact_name] %></div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Contact Email:</div>
    <div class="attribute-data"><%= @code[:contact_email] %></div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Account / Billing Info:</div>
    <div class="attribute-data"><%= @code[:payment_info] %></div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Affiliation rate:</div>
    <div class="attribute-data"><%= @code[:affiliation_rate] %> %</div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Discount:</div>
    <div class="attribute-data"><%= @code[:discount_type] == "percent" ? "#{@code[:discount]}%" : "$#{@code[:discount]}" %></div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Max num. of users:</div>
    <div class="attribute-data"><%= @code[:max_users] %></div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Starts at:</div>
    <div class="attribute-data"><%= @code[:start_date] %></div>
  </div>
  <div class="attribute-container">
    <div class="attribute-label">Ends at:</div>
    <div class="attribute-data"><%= @code[:end_date] %></div>
  </div>

  <table>
    <tr>
      <th>User</th>
      <th>Purchased Program</th>
      <th>Full Price</th>
      <th>Discounted Price</th>
      <th>Discount</th>
      <th>Affiliate Revenue</th>
    </tr>
    <% total_revenue = 0 %>
    <% @code_purchases.each do |item| %>
      <% total_revenue += item.affiliate_revenue %>
      <tr>
        <td><%= item.user.first_name %> <%= item.user.last_name %></td>
        <td><%= item.program_name %></td>
        <td>$<%= item.full_price %></td>
        <td>$<%= item.discounted_price %></td>
        <td>$<%= item.discount %></td>
        <td>$<%= item.affiliate_revenue %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5"></td>
      <td>
        <strong>Total Revenue</strong><br>
        <span>$<%= total_revenue %></span>
      </td>
    </tr>
  </table>
</section>


<style>
  
.attribute-container {
    display: flex;
}
.attribute-container .attribute-label {
  float: none;
  width: auto;
  flex-basis: 15%;
}

.attribute-container .attribute-data {
  float: none;
  width: auto;
  flex-basis: 85%;
}
</style>