<header class="main-content__header">
  <h1 class="main-content__page-title">Affiliate/Discount Code <%= @code[:code] %> details</h1>
  <%= link_to "Edit code", "/admin/affiliate_discount_codes/#{@code[:id]}/edit", class: "button" %>
</header>

<section class="main-content__body">
  <dl>
      <dt class="attribute-label">Code:</dt>
      <dd class="attribute-data"><%= @code[:code] %></dd>
  </dl>
  <dl>
      <dt class="attribute-label">Club:</dt>
      <dd class="attribute-data"><%= @code.club ? @code.club[:name] : "-" %></dd>
  </dl>
  <dl>
      <dt class="attribute-label">Team:</dt>
      <dd class="attribute-data"><%= @code.team ? @code.team[:name] : "-" %></dd>
  </dl>
  <dl>
      <dt class="attribute-label">Contact Name:</dt>
      <dd class="attribute-data"><%= @code[:contact_name] %></dd>
  </dl>
  <dl>
      <dt class="attribute-label">Contact Email:</dt>
      <dd class="attribute-data"><%= @code[:contact_email] %></dd>
  </dl>
  <dl>
      <dt class="attribute-label">Account / Billing Info:</dt>
      <dd class="attribute-data"><%= @code[:payment_info] %></dd>
  </dl>
  <dl>
      <dt class="attribute-label">Affiliation rate:</dt>
      <dd class="attribute-data"><%= @code[:affiliation_rate] %> %</dd>
  </dl>
  <dl>
      <dt class="attribute-label">Discount:</dt>
      <dd class="attribute-data"><%= @code[:discount_type] == "percent" ? "#{@code[:discount]}%" : "$#{@code[:discount]}" %></dd>
  </dl>
  <dl>
      <dt class="attribute-label">Max num. of users:</dt>
      <dd class="attribute-data"><%= @code[:max_users] %></dd>
  </dl>
  <dl>
      <dt class="attribute-label">Starts at:</dt>
      <dd class="attribute-data"><%= @code[:start_date] %></dd>
  </dl>
  <dl>
      <dt class="attribute-label">Ends at:</dt>
      <dd class="attribute-data"><%= @code[:end_date] %></dd>
  </dl>
</section>